table, th, td {
    border:2px solid black;
    border-collapse: collapse;
}
td#name{
    text-transform: uppercase;
    font-size:small;
}

input[type='number']{
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 0 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th#head{
    padding: 5px 5px;
}
.danger {
    background-color: #f2dede;
    color: #a94442;
  }
  body{
    background-image: url('background(1).png');
    background-attachment: fixed;
    background-size: 100% 100%;
}

input[type="file"]{
    display: none;
}

.button {
    background-color: #78A8DA; /* Green */
    border: aliceblue;
    color: white;
    padding: 10px;
    font-size: 10px;
    margin-left: 770px;
    width: 4%;
    height: 3%;
}

.submit {border-radius: 20%;}
.container {
    align-items: center;
    justify-content: center;
  }
  
  img {
    max-width: 25%;
    max-height:15%;
    float: left;
  }
  
  .text {
    font-size: 10px;
    padding-left: 20px;
    padding-top: 3px;
    float: inline-end;
  }