{%load static%}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'st.css' %}">
    <body>

        <div class="container">
            <div class="image">
                <img src="{% static 'assets/jntugv.png' %}" alt="College Logo" style="width: 5%;height: 5%;">
            </div>
            <div class="text">
                <center><h1>JNTU-GV COLLEGE OF ENGINEERING VIZIANAGARAM(AUTONOMOUS)</h1></center>
                <center><h1>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY GURAJADA VIZIANAGARAM</h1></center>
            </div>
          </div>

        <form method="POST" action="{%  url 'rev:data' %}">
            {%csrf_token%}
        <table style="width:100%">
            <tr>
                <th id="head">S.No</th>
                <th id="head">ROLL NO</th>
                <th id="head">NAME</th>
                <th id="head">SUBJECT CODE</th>
                <th id="head">SUBJECT NAME</th>
                <th id="head">INTERNAL</th>
                <th id="head">EXTERNAL</th>
                <th id="head">GRADE LETTER</th>
                <th id="head">CREDITS</th>
                <th id="head">SECOND EVALUATION</th>
                <th id="head">THIRD EVALUATION</th>
                
            </tr>
            {% for reval in Revaluation_copy.all %}
            
                <input type="hidden" name="id[]" value="{{reval.id}}" />
            <tr {% if reval.id in ids %}class="danger"{% endif %}>
               
                <td><center>{{reval.id}}</center></td>
                <td><center>{{reval.Hallticket}}</center>
                
                </td>
                <td><center>{{reval.Student_Name}}</center></td>
                <td id="name"><center>{{reval.Subject_code}}</center></td>
                <td><center>{{reval.Subject}}</center></td>
                
                <td><center>{{reval.Internal_marks}}</center></td>
                <td><center>{{reval.External_marks}}</center></td>
                <td id="name"><center>{{reval.Grades}}</center></td>
                <td><center>{{reval.Credits}}</center></td>
                <td>
                    <input type="number" placeholder="Marks......" name="s_eval[]" value={{reval.Second_evaluation}}>
                </td>
                
                <td>
                    <input type="number" placeholder="Marks......" name="t_eval[]" value=0>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br><br>
        <center><input id="submission" type="submit" value="Submit"></center>
    </form>
    </body>
</html>
