{%load static%}


<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'st.css' %}">
    <body>
        <form method="POST" action="{%  url 'rev:data' %}">
            {%csrf_token%}
        <table style="width:100%">
            <tr>
                <th id="head">S.No</th>
                <th id="head">ROLL NO</th>
                <th id="head">NAME</th>
                <th id="head">SUBJECT CODE</th>
                <th id="head">SUBJECT NAME</th>
                <th id="head">INTERNAL</th>
                <th id="head">EXTERNAL</th>
                <th id="head">GRADE LETTER</th>
                <th id="head">CREDITS</th>
                <th id="head">SECOND EVALUATION</th>
                <th id="head">THIRD EVALUATION</th>
                
            </tr>
            {% for reval in Revaluation.all %}
            
                <input type="hidden" name="id[]" value="{{reval.id}}" />
            <tr>
               
                <td><center>{{reval.id}}</center></td>
                <td><center>{{reval.Hallticket}}</center>
                
                </td>
                <td><center>{{reval.Student_Name}}</center></td>
                <td id="name"><center>{{reval.Subject_code}}</center></td>
                <td><center>{{reval.Subject}}</center></td>
                
                <td><center>{{reval.Internal_marks}}</center></td>
                <td><center>{{reval.External_marks}}</center></td>
                <td id="name"><center>{{reval.Grades}}</center></td>
                <td><center>{{reval.Credits}}</center></td>
                <td>
                    <input type="number" placeholder="Marks......" name="s_eval[]" value=1>
                </td>
                
                <td>
                    <input type="number" placeholder="Marks......" name="t_eval[]" value=2>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br><br>
        <center><input id="submission" type="submit" value="Submit"></center>
    </form>
    </body>
</html>
